.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1 {
  margin: 10px;
}
h2 {
  margin-top: 0;
  margin-bottom: 3rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  text-align: left;
  list-style-type: square;
}

form {
  width: 460px;
  margin: auto 100px;
  padding: 32px;
  font-weight: bold;
  background-color: rgba(129, 163, 118, 0.9);
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 0.7rem;
}

.dropdown,
form input,
form textarea {
  margin-top: 0;
  padding: 0.5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  color: #4d2d52;
  border: 2px solid rgba(77, 45, 82, 0.8);
}

.error {
  color: darkred;
  margin-top: 0;
  font-size: 1rem;
  
}